<footer class="footer">
  <p>
    For more ramblings follow me at <a href="https://twitter.com/derekhoman">@derekhoman</a> and find the repo for this monstrosity at <a href="https://github.com/dhoman/homan-io">github.com/dhoman/homan-io</a>
  </p>
</footer>
