<footer class="footer">
  <p>
    For more ramblings follow me at <a href="https://twitter.com/derekhoman" rel="noreferrer">@derekhoman</a> and find the code for this repo at <a href="https://github.com/dhoman/homan-io">github.com/dhoman/homan-io</a>
  </p>
</footer>
