<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <style>{% include "css/main.css" %}</style> #}
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}" >
    <div id="glitch-bg">
      {% if bgimg %}
        <img id="bg-img" src="{{ bgimg }}">
      {% else %}
        <img id="bg-img" src="{{ '/images/waterfall.jpg' }}" style="height: 768px;">
      {% endif %}
    </div>
    <div class="wrapper">
      <header class="header">
        <h1>homan.io</h1>
        <h2>The Ramblings of Derek Homan</h2>
        <h3>programmer, nerd, human</h3>
        <div id="filler" class="filler"></div>
      </header>
      <nav class="sidebar-nav">
        <ul class="nav">
          {%- for nav in collections.nav | reverse -%}
          <li class="nav-item {% if nav.url == page.url %}nav-item-active{% endif %}">
            <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </nav>
      <article class="main content {% if templateClass %}{{ templateClass }}{% endif %}">
        {{ content | safe }}
      </article>
      {% include "footer.njk" %}
    </div>
    {% set js %}
      {% include "js/core.js" %}
      {% include "js/glitch-canvas-browser-with-polyfills.min.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>



