---
title: homan.io
subtitle: subtitle
layout: layouts/base.njk
tags:
  - nav
navtitle: About
---

<h1>About</h1>

<p>Opinionated developer who prefers Visual Studio Code, Vim, 2 spaces over tabs (although project consistency trumps personal preference)</p>

<h2>Favorite Books</h2>
<ul>
  <li>
    Unsorted Books:
    <ul>
      <li>
        An Astronaut's Guide to Life on Earth - Chris Hadfield
      </li>
      <li>
        The Art of Happiness - Dalai Lama
      </li>
      <li>
        Just Listen - Mark Goulston
      </li>
    </ul>
  </li>
  <li>
    Programming Books:
    <ul>
      <li>
        A Philosophy of Software Design - John Ousterhout
      </li>
      <li>
        The Pragmatic Programmer - Andrew Hunt, David Thomas
      </li>
      <li>
        The Mythical Man-Month - Fred Brooks
      </li>
      <li>
        The Design of Design - Fred Brooks
      </li>
    </ul>
  </li>
  <li>
    Ux Books:
    <ul>
      <li>
        Don't Make Me Think - Steve Krug
      </li>
      <li>
        The Design of Everyday Things - Don Norman
      </li>
    </ul>
  </li>
</ul> 
