---
title: homan.io
subtitle: subtitle
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<p>
  This is the home page for my personal site
  <br/>
  This site is also an experiment just like the early days of the web I'm striving to make this site exciting and personal (think geocities minus the marquee tag.) 
  <br/>
  I can't guarantee a pleasant viewing experience, but hopefully it's a memorable one
</p>


<h1>Latest 3 Posts</h1>

{% set postslist = collections.post | last(3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>